.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-row{
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-row:hover {
  background-color: rgb(195, 193, 193);
  border: 1px 0 1px 0 solid black;
}
.total-cost {
  display: flex;
  justify-content: end;
  color: red;
  font-size: 1.5rem;
}

input {
  display: inline-block;
  max-width: 10%;
}

.trash {
  display: inline-block;
  width: 10%;
  height: 1.3rem;
}
