* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(252, 231, 197);
}
h1 {
  text-align: center;
  margin: 1rem;
}
header a {
  text-decoration: none;
  color: black;
}

nav a {
  padding: 0.5rem;
}
#logo {
  height: 10vh;
  width: 8%;
}
#logo {
  float: left;
}
nav a:hover {
  background-color: rgb(239, 241, 208);
  color: rgb(92, 94, 93);
}
nav {
  background-color: rgb(217, 219, 187);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.cart-icon {
  padding: 0.3rem 0.8rem;
}

.register {
  margin-right: 1rem;
  background-color: rgb(0, 119, 255);
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
#login_reg_panel a {
  display: inline-block;
}
#login_reg_panel .register:hover {
  transform: scale(1.07);
  background-color: rgb(0, 119, 255);
  color: white;
}

main{
  margin-top: 5rem;
}

form #container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form #register_form {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 30%;
  margin: auto;
  border: 2px solid black;
  padding: 20px;
}
#register_form button {
  background-color: rgb(0, 119, 255);
  color: white;
  border: 2px solid black;
  padding: 5px;
}
#register_form * {
  padding: 5px;
}
#btn {
  display: flex;
  justify-content: space-between;
}

#products {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1rem;
}
#products .card {
  min-width: 220px;
  border: 1px solid black;
  background-color: rgb(255, 249, 241);
  padding: 1rem;
  border-radius: 10px;
}
#products .card img {
  height: 11rem;
  width: 13vw;
}
.product-detail {
  display: flex;
  flex-direction: column;
}

.cart {
  border: 1px solid black;
  background-color: rgb(184, 250, 228);
  text-decoration: none;
  color: black;
  padding: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 35%;
}
.cart:hover {
  background-color: rgb(111, 236, 230);
}

.p-head p {
  display: inline-block;
}
.cost {
  background-color: rgb(245, 148, 148);
  display: inline;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  float: right;
}
