* {
  margin: 0;
  padding: 0;
}
/* body {
  background-color: rgb(255, 255, 255);
} */

header a {
  text-decoration: none;
  color: black;
}

nav a {
  padding: 0.5rem;
}
#logo {
  height: 10vh;
  width: 8%;
}
#logo {
  float: left;
}
nav a:hover {
  background-color: rgb(245, 221, 143);
  color: rgb(41, 42, 42);
}
nav {
  background-color: rgb(224, 192, 87);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.cart-icon {
  padding: 0.3rem 0.8rem;
}

.register {
  margin-right: 1rem;
  background-color: rgb(0, 119, 255);
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
#login_reg_panel a {
  display: inline-block;
}
#login_reg_panel .register:hover {
  transform: scale(1.07);
  background-color: rgb(0, 119, 255);
  color: white;
}

main {
  margin-top: 5rem;
}

.hero{
  height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero h1 {
  font-size: 5rem;
}
.hero a{
  background-color: rgb(224, 192, 87);
  padding:1rem;
  border-radius: 30px;
  cursor: pointer;
  margin: 0.5rem;
}

footer {
  background-color: rgba(226, 226, 226, 0.5);
  height: 25vh;
  width: 100%;
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
footer > div {
  padding: 2rem;
}
